<mat-card *ngIf="hiba">
        <mat-card-header>
            <mat-card-title>
                <div *ngIf="hiba.author; else elseBlock">
                    <div *ngIf="hiba.author">       
                      Assigner: {{hiba.author.display}}      
                    </div>
                </div>
                <ng-template #elseBlock>
                    <div>
                       Assigner: Unnamed
                    </div>
                </ng-template>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>ID: {{hiba.id}}</p>
            <p>Status: {{hiba.status}}</p>
            <p>Details: {{hiba.details}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)='deleteIssue(hiba.id)'>delete</button>
        </mat-card-actions>
    </mat-card>